<h1>Détails de la séance de sport</h1>
    <div class="session-details">
        <h2>Nom de la séance : Séance de yoga</h2>
        <ul>
            <li><strong>Emplacement : </strong></li>
            <li><strong>Date :</strong></li>
            <li><strong>Heure :</strong> </li>
            <li><Strong>Coach :</Strong> </li>
            <li><strong>Description :</strong></li>
        </ul>
    </div>
    <a href="liste-sessions.html" class="back-link">Retour à la liste des séances</a>
  </div>